$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-dark-blue: #001a41;
$color-gray: hsl(231, 11%, 63%);
$color-light-gray: hsl(229, 24%, 87%);
$color-blue: hsl(243, 100%, 62%);
$color-light-blue: hsl(206, 94%, 87%);
$color-pastel-blue: hsl(228, 100%, 84%);
$color-Darkblue: hsl(213, 96%, 18%);
$color-red: #c94451;
$color-white: hsl(0, 0%, 100%);
