@import '@styles/base';
.navigation {
  width: 100%;
  background-color: white;
  padding: 1rem;
  bottom: 0px;
  position: fixed;
  justify-content: space-between;
  button {
    font-size: 14px;
  }
  display: flex;
  @include apply-at-lg-size {
    position: absolute;
    bottom: 2rem;
    padding: 0;
    background-color: transparent;
  }
  button {
    padding: 15px 25px;
    font-weight: 700;
    @include apply-at-lg-size {
      font-size: 16px;
    }
  }
  button:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
  }
  .btn1 {
    background-color: transparent;
    border: none;
    color: $color-gray;
  }

  .btn2 {
    background-color: $color-Darkblue;
    border: none;
    color: white;
    border-radius: 10px;
  }
}
.btnRight {
  justify-content: right !important;
}
.alert {
  top: 0;
  position: absolute;
}
