@import '@styles/base';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Rubik:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap');
.Plan {
  max-width: 90%;
  margin: auto;
  padding: 5%;
  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 5px 10px #d6d9e6;
  @include apply-at-lg-size {
    max-width: 25rem;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
  }
  h2,
  p {
    margin: 0;
  }
  .switch {
    width: 100%;
    background-color: #eef5ff;
    border-radius: 10px;
    padding: 0.25rem 0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    input[type='checkbox'] {
      cursor: pointer;
      appearance: none;
      width: 45px;
      height: 25px;
      border-radius: 30px;
      display: inline-flex;
      align-items: center;
      background-color: $color-Darkblue;
      padding: 5px;
    }
    input[type='checkbox']:after {
      content: '';
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: white;
    }
    input[type='checkbox']:checked {
      background-color: $color-Darkblue;
      justify-content: right;
    }
    input[type='checkbox']:checked::after {
      justify-content: left;
    }
  }
  span {
    font-weight: 700;
    padding: 0 1rem 0 1rem;
    color: $color-gray;
  }
  .switchOn {
    color: #174a89;
  }
}
.plansCrads {
  display: grid;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
  @include apply-at-lg-size {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 1rem;
  }
}
.planClick {
  border: $color-blue 1px solid !important;
  background-color: #f8f9fe;
}
.planCard {
  @include directionX;
  align-items: center;
  gap: 1rem;
  padding: 20px 15px;
  border: hsl(229, 24%, 87%) 1px solid;
  border-radius: 10px;
  @include apply-at-lg-size {
    @include directionY;
  }
  &:hover {
    border: $color-blue 1px solid !important;
  }
  cursor: pointer;
  .title {
    // margin-top: 40px;
    h3 {
      margin: 0;
      font-size: 18px;
      color: #174a89;
    }
    p {
      margin-top: 10px;
      font-size: 14px;
    }
  }
}
